.edit-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: rgb(255, 116, 177);
	background: linear-gradient(356deg, rgba(255, 116, 177, 1) 0%, rgba(253, 128, 45, 1) 100%);
	border-radius: 10px;
	width: 400px;
	height: 400px;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
	border: 2px solid var(--color-white);
	border-radius: 10px;
	transition: box-shadow 0.3s ease-in-out;
	@media (max-width: 760px) {
		width: 90%;
	}
	&__title {
		color: var(--color-white);
		font-size: 25px;
		line-height: 40px;
		font-weight: 700;
		margin-bottom: 25px;
		border-bottom: 2px solid var(--color-white);
	}
	&__item {
		display: flex;
		align-items: center;
		& + & {
			margin-top: 5px;
		}
		label {
			font-size: 18px;
			color: var(--color-white);
			display: inline-block;
			width: 100px;
		}
		input:not([type='checkbox']) {
			font-size: 14px;
			height: 25px;
			width: 250px;
			background-color: var(--color-white);
			padding-left: 5px;
			border: none;
			border-radius: 5px;
			@media (max-width: 760px) {
				width: 150px;
			}
		}
		input[type='checkbox'] {
			height: 25px;
			width: 25px;
			margin: 0 auto;
		}
	}
	&__button {
		color: var(--color-white);
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1px;
		width: 300px;
		height: 35px;
		background: rgba(253, 128, 45, 1);
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
		border: none;
		border-radius: 10px;
		margin-top: 25px;
		cursor: pointer;
	}
}
.hide {
	display: none;
}
